.pagination-component {
  display: flex; }
  .pagination-component nav.pagination {
    display: inline-flex;
    margin: auto; }
    .pagination-component nav.pagination .page-number-button, .pagination-component nav.pagination .navigation-button {
      background: #e1e5ee;
      color: #fff;
      border-radius: 1rem;
      cursor: pointer;
      display: flex;
      margin: .25rem; }
      .pagination-component nav.pagination .page-number-button.active, .pagination-component nav.pagination .navigation-button.active {
        background: #dc3545; }
        .pagination-component nav.pagination .page-number-button.active a, .pagination-component nav.pagination .page-number-button.active a:hover, .pagination-component nav.pagination .navigation-button.active a, .pagination-component nav.pagination .navigation-button.active a:hover {
          color: #fff; }
      .pagination-component nav.pagination .page-number-button a, .pagination-component nav.pagination .navigation-button a {
        color: #000;
        font-weight: bold;
        margin: auto;
        text-align: center;
        padding: .5rem 1rem; }
        .pagination-component nav.pagination .page-number-button a:hover, .pagination-component nav.pagination .navigation-button a:hover {
          color: #dc3545; }
