.article-component .container {
  padding: 0;
  margin: 10rem auto 5rem auto;
  color: #000;
  background: #fff; }
  .article-component .container .article-header {
    display: grid;
    grid-gap: 2rem;
    padding: 5rem 2rem; }
    .article-component .container .article-header .title {
      text-align: center;
      font-size: 2.75rem;
      margin: 0; }
    .article-component .container .article-header .details {
      display: inline-flex;
      margin: auto; }
      @media screen and (max-width: 650px) {
        .article-component .container .article-header .details {
          display: block;
          text-align: center; } }
      .article-component .container .article-header .details .author,
      .article-component .container .article-header .details .date,
      .article-component .container .article-header .details .comments {
        display: inherit;
        margin: 0.25rem 1rem; }
        .article-component .container .article-header .details .author i.icon,
        .article-component .container .article-header .details .date i.icon,
        .article-component .container .article-header .details .comments i.icon {
          margin: auto 0.5rem; }
        .article-component .container .article-header .details .author p.data,
        .article-component .container .article-header .details .date p.data,
        .article-component .container .article-header .details .comments p.data {
          margin: 0; }
  .article-component .container .article-thumbnail {
    max-width: 100%; }
  .article-component .container .article-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    grid-gap: 2rem; }
    @media screen and (max-width: 900px) {
      .article-component .container .article-wrapper {
        grid-template-columns: 1fr; }
        .article-component .container .article-wrapper .article-sidebar {
          display: none; } }
  .article-component .container .article-categories {
    padding: 2rem; }
