@import "./scss/theme/utilities";
@import "./scss/theme/variables";

.nwsltr-section-header-component {
  padding: 2rem 0;
  background: color("white");

  .container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    border-radius: 1rem;
    color: color("black");

    @media screen and (max-width: breakpoint(md)) {
      grid-template-columns: 1fr;
    }


    // Section body
    .body-section {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      
      @media screen and (max-width: breakpoint(lg)) {
        padding: 0 1rem;
      }

      @media screen and (max-width: breakpoint(md)) {
        order: 2;
      }

      h1 {
        color: color(primary);
      }

      .form {
        background: #00000026;
        display: flex;
        height: 3rem;
        border-radius: 3rem;
        overflow: auto;
        margin: 1rem 0;

        .input-email {
          flex: 1 0 0;
          background: transparent;
          border: 0;
          outline: 0;
          padding: 0.5rem 0 0.5rem 1rem;
          min-width: 0;
          font-size: 1rem;
          font-family: inherit;
        }

        .input-button {
          flex: 0 1 auto;
          margin: 4px;
          border: 0;
          background: black;
          color: #fff;
          text-transform: uppercase;
          outline: 0;
          min-width: 2.5rem;
          letter-spacing: 1px;
          border-radius: 3rem;
          transition: 0.5s all ease-in-out;
          font-weight: bold;
          font-size: 0.825rem;
          padding: 0 1rem;
          font-family: inherit;
          -webkit-appearance: button;
          
          &:hover {
            padding: 0 2rem;
            cursor: pointer;
            background: color(primary);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
              0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
              0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    // Section hero
    .hero-section {
      padding: 0 2rem;
      display: flex;

      @media screen and (max-width: breakpoint(lg)) {
        padding: 0 1rem;
      }

      @media screen and (max-width: breakpoint(md)) {
        order: 1;
      }

      .image-hero {
        width: 100%;
        object-fit: cover;
        margin: auto;
        max-width: 400px;
        height: intrinsic; // safari image height fix
      }
    }

  }
}
