.post-terms-component .term {
  display: inline-block;
  text-transform: lowercase;
  background: #e5e5e5;
  padding: 0.5rem 1rem;
  margin: .125rem;
  border-radius: 1rem;
  color: #000; }
  .post-terms-component .term::before {
    content: '#'; }
  .post-terms-component .term:first-of-type {
    margin-left: 0; }
  .post-terms-component .term:last-of-type {
    margin-right: 0; }
  .post-terms-component .term:hover {
    color: #dc3545; }
