.header-menu-component {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background: #0d0d0d;
  border-bottom: 1px solid #252525;
  z-index: 100; }
  .header-menu-component a {
    color: white; }
    .header-menu-component a:hover {
      color: #dc3545; }
  .header-menu-component .nav-menu {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem; }
    .header-menu-component .nav-menu .nav-header {
      display: flex; }
      .header-menu-component .nav-menu .nav-header .logo-link {
        align-items: center;
        display: flex; }
        .header-menu-component .nav-menu .nav-header .logo-link .logo {
          max-height: 35px; }
      .header-menu-component .nav-menu .nav-header .menu-bars {
        display: none; }
    .header-menu-component .nav-menu ul.nav-main {
      margin: 0;
      padding: 0; }
      .header-menu-component .nav-menu ul.nav-main li.nav-main-item {
        padding: .5rem .25rem;
        margin: 0 2rem;
        display: inline-block; }
        .header-menu-component .nav-menu ul.nav-main li.nav-main-item.current-menu-item {
          border-bottom: 3px solid #dc3545; }
          .header-menu-component .nav-menu ul.nav-main li.nav-main-item.current-menu-item > a {
            font-weight: bold;
            color: #dc3545; }
      .header-menu-component .nav-menu ul.nav-main ul.nav-drop {
        display: none; }
        .header-menu-component .nav-menu ul.nav-main ul.nav-drop li.nav-drop-item {
          text-transform: initial; }
  @media screen and (max-width: 1120px) {
    .header-menu-component {
      height: 75px;
      transition: 0.25s all ease-in-out; }
      .header-menu-component.fullscreen-menu {
        height: 100vh; }
      .header-menu-component .nav-menu {
        grid-template-columns: 1fr; }
        .header-menu-component .nav-menu .nav-header {
          display: flex;
          position: relative; }
          .header-menu-component .nav-menu .nav-header .logo-link {
            margin: auto; }
          .header-menu-component .nav-menu .nav-header .menu-bars {
            display: block;
            font-size: 1.5rem;
            position: absolute;
            right: 2rem;
            top: 0;
            bottom: 0;
            align-self: center;
            display: flex;
            align-items: center;
            color: #fff; }
        .header-menu-component .nav-menu ul.nav-main {
          display: none; }
          .header-menu-component .nav-menu ul.nav-main.show-menu {
            display: grid; }
          .header-menu-component .nav-menu ul.nav-main li.nav-main-item {
            border-bottom: 1px solid #191919 !important; } }
