@import "./scss/theme/utilities";
@import "./scss/theme/variables";

.header-menu-component {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background: color(gray-950);
  border-bottom: 1px solid color(gray-850);
  z-index: 100;

  a {
    color: white;

    &:hover {
      color: color(primary);
    }
  }
  
  .nav-menu { 
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 2rem;

    .nav-header {
      display: flex;

      // Logo
      .logo-link {
        align-items: center;
        display: flex;

        .logo {
          max-height: 35px;
        }
      }

      // Burger menu
      .menu-bars {
        display: none;
      }
    }

    // Menu
    ul.nav-main {
      margin: 0;
      padding: 0;

      // Elements de menu
      li.nav-main-item {
        padding: .5rem .25rem;
        margin: 0 2rem;
        display: inline-block;

        &.current-menu-item {
          border-bottom: 3px solid color(primary);

          > a {
            font-weight: bold;
            color: color(primary);
          }
        }
      }

      // Sous-menus
      ul.nav-drop {
        display: none;

        li.nav-drop-item {
          text-transform: initial;
        }
      }
    }
  }

  // Gestion du burger-menu
  @media screen and (max-width: breakpoint(lg)) {
    height: 75px;
    transition: 0.25s all ease-in-out;

    &.fullscreen-menu {
      height: 100vh;
    }

    .nav-menu { 
      grid-template-columns: 1fr;

      // Logo
      .nav-header {
        display: flex;
        position: relative;

        .logo-link {
          margin: auto;
        }

        .menu-bars {
          display: block;
          font-size: 1.5rem;
          position: absolute;
          right: 2rem;
          top: 0;
          bottom: 0;
          align-self: center;
          display: flex;
          align-items: center;
          color: color("white");
        }
      }


      // Menu
      ul.nav-main {
        display: none;

        &.show-menu {
          display: grid;
        }

        // Elements de menu
        li.nav-main-item  {
          border-bottom: 1px solid color(gray-900) !important;
        }
      }
    }
  }
}