.nwsltr-register-successful-component {
    visibility: hidden;
    transition: visibility 150ms;

    &.show {
        visibility: visible;

        .bg-transition {
            opacity: 100;
        }

        .popup-transition {
            opacity: 100;
            transform: scale(100%);

        }
    }

    &.hide {
        visibility: hidden;

        .bg-transition {
            opacity: 0;
        }

        .popup-transition {
            opacity: 0;
            transform: scale(95%);
        }
    }
}