.nwsltr-register-successful-component {
  visibility: hidden;
  transition: visibility 150ms; }
  .nwsltr-register-successful-component.show {
    visibility: visible; }
    .nwsltr-register-successful-component.show .bg-transition {
      opacity: 100; }
    .nwsltr-register-successful-component.show .popup-transition {
      opacity: 100;
      transform: scale(100%); }
  .nwsltr-register-successful-component.hide {
    visibility: hidden; }
    .nwsltr-register-successful-component.hide .bg-transition {
      opacity: 0; }
    .nwsltr-register-successful-component.hide .popup-transition {
      opacity: 0;
      transform: scale(95%); }
