@import "./scss/theme/utilities";
@import "./scss/theme/variables";

.scss-colors-debug-component {
    .color {
        display: inline-block;
        width: 3rem;
        height: 3rem;
    }

    @each $key, $value in $colors{
        .bg-#{$key} {
            background: $value;
        }    
    }

  
}