.scss-colors-debug-component .color {
  display: inline-block;
  width: 3rem;
  height: 3rem; }

.scss-colors-debug-component .bg-primary {
  background: #dc3545; }

.scss-colors-debug-component .bg-secondary {
  background: #323232; }

.scss-colors-debug-component .bg-light {
  background: #b2b2b2; }

.scss-colors-debug-component .bg-dark {
  background: #656565; }

.scss-colors-debug-component .bg-black {
  background: #000; }

.scss-colors-debug-component .bg-white {
  background: #fff; }

.scss-colors-debug-component .bg-gray-050 {
  background: #f2f2f2; }

.scss-colors-debug-component .bg-gray-100 {
  background: #e5e5e5; }

.scss-colors-debug-component .bg-gray-150 {
  background: #d9d9d9; }

.scss-colors-debug-component .bg-gray-200 {
  background: #cccccc; }

.scss-colors-debug-component .bg-gray-250 {
  background: #bfbfbf; }

.scss-colors-debug-component .bg-gray-300 {
  background: #b2b2b2; }

.scss-colors-debug-component .bg-gray-350 {
  background: #a5a5a5; }

.scss-colors-debug-component .bg-gray-400 {
  background: #999999; }

.scss-colors-debug-component .bg-gray-450 {
  background: #8c8c8c; }

.scss-colors-debug-component .bg-gray-500 {
  background: #7f7f7f; }

.scss-colors-debug-component .bg-gray-550 {
  background: #727272; }

.scss-colors-debug-component .bg-gray-600 {
  background: #656565; }

.scss-colors-debug-component .bg-gray-650 {
  background: #595959; }

.scss-colors-debug-component .bg-gray-700 {
  background: #4c4c4c; }

.scss-colors-debug-component .bg-gray-750 {
  background: #3f3f3f; }

.scss-colors-debug-component .bg-gray-800 {
  background: #323232; }

.scss-colors-debug-component .bg-gray-850 {
  background: #252525; }

.scss-colors-debug-component .bg-gray-900 {
  background: #191919; }

.scss-colors-debug-component .bg-gray-950 {
  background: #0d0d0d; }

.scss-colors-debug-component .bg-bluegray-100 {
  background: #e1e5ee; }

.scss-colors-debug-component .bg-bluegray-200 {
  background: #c0c9db; }

.scss-colors-debug-component .bg-bluegray-300 {
  background: #a0adc9; }

.scss-colors-debug-component .bg-bluegray-400 {
  background: #7f92b6; }

.scss-colors-debug-component .bg-bluegray-500 {
  background: #5f76a4; }

.scss-colors-debug-component .bg-bluegray-600 {
  background: #4b5e84; }

.scss-colors-debug-component .bg-bluegray-700 {
  background: #394764; }

.scss-colors-debug-component .bg-bluegray-800 {
  background: #263043; }

.scss-colors-debug-component .bg-bluegray-900 {
  background: #141923; }
