.footer-menu-component {
  background: #323232;
  padding: 2rem 0; }
  .footer-menu-component .container {
    display: flex; }
    .footer-menu-component .container .footer-menu {
      list-style-type: none;
      margin: auto;
      display: inline-flex;
      padding: 0; }
      .footer-menu-component .container .footer-menu .menu-item {
        margin: 0 1rem; }
        .footer-menu-component .container .footer-menu .menu-item .menu-link {
          color: white; }
          .footer-menu-component .container .footer-menu .menu-item .menu-link:hover {
            color: #dc3545; }
