@import "./scss/theme/utilities";
@import "./scss/theme/variables";

.footer-menu-component {
    background: color(secondary);
    padding: 2rem 0;

    .container {
        display: flex;

        .footer-menu {
            list-style-type: none;
            margin: auto;
            display: inline-flex;
            padding: 0;
    
            .menu-item {
                margin: 0 1rem;

                .menu-link {
                    color: white;

                    &:hover {
                        color: color(primary);
                    }
                }
            }
        }
    }
}